if SHIELD_FURLUVOYAGER_LEFT

config ZMK_KEYBOARD_NAME
    default "FurluVoyager"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_FURLUVOYAGER_LEFT || SHIELD_FURLUVOYAGER_RIGHT

config ZMK_SPLIT
    default y

endif